{% extends "base.html" %}

{% block sidebar_content %}
<ul class="nav nav-list">
  <li class="nav-header">List header</li>
  <li><a href="#">Load Data</a></li>
</ul>
{% endblock %}

{% block body_content %}
    <div class="row-fluid">
    {% for spec in recommendations %}
        <div class="span5 {{ loop.index }}">
            <div class="btn-toolbar">
                <div class="btn">
                    Button
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                              <li><a tabindex="-1" href="#">Action</a></li>
                              <li><a tabindex="-1" href="#">Another action</a></li>
                              <li><a tabindex="-1" href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                </div>
            </div>            
            <div class="frame_{{ loop.index }}" id="{{ loop.index }}" height="400" width="400"></div>
            <script>
                function parse(spec) {
                    var spec = JSON.parse(spec)
                    vg.parse.spec(spec, function(chart) { chart({el:".frame_{{ loop.index }}"}).update(); });
                }
                parse({{ spec|tojson|safe }})
            </script>
        </div>
        {% if loop.index is even %}
            </div> 
            {% if loop.revindex > 1 %}
                <div class="row-fluid">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
