{% extends "base.html" %}

{% block sidebar_content %}
<ul class="nav nav-list" style="padding: 0">
  <li class="nav-header">Actions and Information</li>
  <li><a href="#">FAA On-Time Performance</a></li>
  <li><a href="#"><i>Add More Data</i></a></li>
  <li><a href="#"><i>View Flagged</i></a></li>
  <li><a href="#"><i>View Rated</i></a></li>
  <li><a href="#"><i>View Removed</i></a></li>
</ul>
{% endblock %}

{% block body_content %}
    <div class="row-fluid">
    {% for spec in recommendations %}
        <div class="span5 span_{{ loop.index }}">
            <a name="{{ loop.index }}"></a>
            <form action="{{ url_for("recommendations") }}" method="post">
            <input type="hidden" name="data" value="">
            <input type="hidden" name="remove" value="">
            <input type="hidden" name="samefields" value="">
            <input type="hidden" name="samemarks" value="">
                <div class="btn-toolbar">
                    <div class="btn btn-mini btn-link"><i class="icon-star-empty star_{{ loop.index }}" id="star1_{{ loop.index }}"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-star-empty star_{{ loop.index }}" id="star2_{{ loop.index }}"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-star-empty star_{{ loop.index }}" id="star3_{{ loop.index }}"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-star-empty star_{{ loop.index }}" id="star4_{{ loop.index }}"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-star-empty star_{{ loop.index }}" id="star5_{{ loop.index }}"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-info-sign"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-edit"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-folder-open"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-flag icon-white" id="flag_{{ loop.index }}"></i></div>
                    <div class="btn btn-mini btn-link"><i class="icon-remove" id="remove_{{ loop.index }}"></i></div>
                    <div class="btn-group">
                        <a class="btn btn-mini btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-search"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#" id="samefields_{{ loop.index }}">Same fields</a></li>
                            <li><a tabindex="-1" href="#" id="samemarks_{{ loop.index }}">Same marks</a></li>
                            <li><a tabindex="-1" href="#" id="sametrans_{{ loop.index }}">Same transformations</a></li>
                        </ul>
                    </div>
                </div>            
            </form>
            <script>
                $("#samefields_{{ loop.index }}").click(function(e) {
                    var data = {{ spec|tojson|safe }};
                    var form = $(this).closest("form");
                    form.find("input[name=data]").val(data);
                    form.find("input[name=samefields]").val(1);
                    form.submit();
                });
                
                $("#samemarks_{{ loop.index }}").click(function(e) {
                    var data = {{ spec|tojson|safe }};
                    var form = $(this).closest("form");
                    form.find("input[name=data]").val(data);
                    form.find("input[name=samemarks]").val(1);
                    form.submit();
                });
                
                $("#remove_{{ loop.index }}").click(function(e) {
                    var data = {{ spec|tojson|safe }};
                    var form = $(this).closest("form");
                    form.find("input[name=data]").val(data);
                    form.find("input[name=remove]").val(1);
                    form.submit();
                });

                $("#flag_{{ loop.index }}").click(function(e) {
                    $(this).toggleClass("icon-white");
                });
                
                $("#samefields_{{ loop.index }}").click(function(e) {
                    var data = {{ spec|tojson|safe }};
                    var form = $(this).closest("form");
                    form.find("input[name=data]").val(data);
                    form.submit();
                });

                $(".star_{{ loop.index }}").click(function(e) {
                    if ($(this).attr("class").indexOf("icon-star-empty") > -1) {
                        var id = $(this).attr("id");
                        var num = parseInt(id[4]);
                        var idx = id.slice(6);
                        for (i=num; i>0; i--){
                            var selector = "#star" + i + "_" + idx;
                            $(selector).attr("class", "icon-star star"); 
                        }
                    }
                    else {
                        var id = $(this).attr("id");
                        var num = parseInt(id[4]);
                        var idx = id.slice(6);
                        for (i=num; i<=5; i++){
                            var selector = "#star" + i + "_" + idx;
                            $(selector).attr("class", "icon-star-empty star"); 
                        }
                    }
                });
            </script>
            <div id="frame_{{ loop.index }}" height="400" width="400"></div>
            <script>
                function parse(spec) {
                    var spec = JSON.parse(spec).vega
                    vg.parse.spec(spec, function(chart) { chart({el:"#frame_{{ loop.index }}"}).update(); });
                }
                parse({{ spec|tojson|safe }})
            </script>
        </div>
        {% if loop.index is even %}
            </div> 
            {% if loop.revindex > 1 %}
                <div class="row-fluid">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
